#A{
	height:1150px;	
text-align:left;
padding:20px 20px 20px 20px;
font-size:16px;
margin-bottom:5px;
margin-left:180px;
margin-right:180px;
margin-top:80px;
padding:7px;
background-color:white;	
}

h1{text-align:middle;
     margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 310px;
	font-size: 40px;
	color:red;
	text-shadow: 4px 4px 7px #dac292;
   }

   h2{ text-align:left;
     margin-top: 5px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 35px;
	font-size: 27px;
	color:red;
	text-shadow: 4px 4px 7px #dac292;
   } 
   
   
   
   h3{ text-align:left;
     margin-top: 5px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 35px;
	font-size: 27px;
	color:red;
	text-shadow: 4px 4px 7px #dac292;
   } 
    
	
	
	 
   h4	{ text-align:left;
     margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 35px;
	font-size: 27px;
	color:red;
	text-shadow: 4px 4px 7px #dac292;
  
	
	}
	
	 
   h5	{ text-align:left;
     margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    margin-left: 35px;
	font-size: 27px;
	color:red;
	text-shadow: 4px 4px 7px #dac292;
    
	
	}
	
	
	
	
	
	p{text-align:middle;
	  color:#221F1F;
	  margin: -17px 0px 180px 30px;
	  font-size: 15px;
	  text-shadow: 0px 0px 0px #dac292;
	   margin-bottom: 30px;
   }
   
   
   
   
   
   
   
   
   #googleMap{
	
text-align:left;
padding:20px 20px 20px 20px;
font-size:16px;
margin-bottom:5px;
margin-left:180px;
margin-right:180px;
margin-top:80px;
padding:7px;
background-color:white;	

}





































.page-header
 {
  text-align:center;
  background-color:#DC4C46;
  font-family:Copperplate Gothic Light, sans-serif;
  color:white;
  word-spacing:16px;
  margin-top:60px;
  height:85px;
  }
  
h9
 {
  margin-top:30px;
  font-size:40px;
 }
  
  
      /*  STYLING OF NAVIGATION BAR PART */
	 

#nav li ul a:hover:not(.active) {
    background-color: #E8E8E8;
color: white;}







	 
#nav ul 
 {
  list-style-type: none;
  margin:0px;
  padding:0px;
  color:white;
 }


#nav ul li  /*why? */
 {
  color:white;
  border:none;
 }


#nav ul li a 
 {
  display: block;
  color: white;
  text-align:center;
  text-decoration: none;
 }

 
 
 
#nav ul ul /*why? */
 {
  position:absolute;
  background-color:white;
  color:#DC4C46;
  display:none;
 }

 
#nav ul li:hover > ul
 {
  /*background-color:; */
  display:block;
 }
 
.container-fluid{height:10px;} /* why?*/
/* 
.navbar-nav > li > a {padding-top:16px !important; padding-bottom:10px !important; background-color:#DC4C46; } 
NOT NEEDED*/
.navbar {height:0px;  background-color: #DC4C46;  border:none; font-family:  ‘Trebuchet MS’, Helvetica, sans-serif;}
.barsearch{padding:0px;}

/*

.form-control{margin-top:12px;padding-top:5px;margin-bottom:20px;}
.input-group-btn{margin-top:40px;padding-top:12px;}
*/
                        
						 /*  STYLING OF FOOTER PART */
						 
div.container {width: 100%;}


#footer
 {
 /* padding: 25px;
  height:40px; */ 
  color:white ;
 /* background-color:#DC4C46;*/

  font-family: ‘Courier New’, Courier, monospace;
  /*clear: left;
  text-align: center;*/
  font-size:20px;
  width:100%
 }

                         /*  STYLING OF HYPERLINKS ie. <a></a> TAGS */


/* a{ color: red;text-decoration: none;}

/* mouse over link */
/* a:hover {color: red;text-decoration: none;}

/* selected link */
/* a:active {color: red; text-decoration: none;}

a:visited {color: red;text-decoration: none;}
 why?*/
  #nav ul li a:active
 {
  background-color:#B93A32;
  color: white;
 }
#nav ul li a:visited 
 {
  background-color:#B93A32/*#ff4d4d/*#DC4C46*/; /*active nav button color*/
  color: white;
 }
 #nav ul li a:hover 
 {
  background-color:#B93A32 /* for hovering over nav buttons*/;
  color: white;
 }

 
 /* FOR AWESOME ICONS IN FOOTER*/
 
.t>.fa-facebook{
  color: white;
  background:#3B5998;
}
.t>.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.t>.fa:hover {
    opacity: 0.7;
}
  .t>.fa-instagram {
  background: #125688;
  color: white;
}
  
.t>.fa-twitter {
  background: #55ACEE;
  color: white;
}
.t>.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* for navbar active*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  /*color: #ecdbff;*/
  background-color: #B93A32/*#ff4d4d/*#9B2335 *//*#8e44ad*/ !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #B93A32/*#ff4d4d/*#9B2335*/ /*#8e44ad*/ !important;
}

#nav-image{
  margin-top:-26px;
  width:114px;
}